<h1 id="film_heading">ROXY RETRO CINEMA</h1>
<h1>Films showing today</h1>
<h2><%= Time.now.strftime("%A %d %B %Y") %></h2>

<ul>
  <% for film in @film_list %>
  <li id="film_list"> <a href="http://localhost:4567/films/<%= @film_list.index(film) %>"><%= film.title %></a></li>
  <% end %>
</ul>


<img id="giphy" src="https://media.giphy.com/media/SsCeLlSLAgb7DLVQpg/giphy.gif" alt="Movie Camera">
