body {
  background-color: #AFD0BF;
  font-family: sans-serif;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  color: #525C56;
  font-size: 2.5em;
}

#film_heading {
  text-align: center;
  color: #525C56;
  font-size: 3em;
  padding: 0;
}

#film_list {
  text-align: center;
  color: #9C7241;
  font-size: 2em;
}

h2 {
  text-align: center;
  color: #9C7241;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

li {
  text-align: center;
  color: #9C7241;
}

#giphy {
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  border: 0;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
